---
//component imports
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="About">
    <p>hi from About</p>
    <!-- <h1>I WOULD LOVE IF THIS WOULD SHOW UP</h1> -->
</MainLayout>
