---
//component imports
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Home Page">
    <p>hi from Home </p>
    <!-- <h1>I WOULD LOVE IF THIS WOULD SHOW UP</h1> -->
</MainLayout>
