---
const { title = "My Astro Blog", description = "My musings about the Astro framework"} = Astro.props;

//component import
import MainHead from "./MainHead.astro";

import "../styles/global.css";
---

<html lang="en">
	<MainHead title={ title } description={ description } />
	<body>
	 <slot>
		<p>Default Text</p>
	</slot>
	</body>
</html>


