---
const { title = "Default Title", description = "Default Description"} = Astro.props;

//component import
import MainHead from "./MainHead.astro";
---

<html lang="en">
	<MainHead title={ title } description={ description } />
	<body>
     <!-- <p>big old paragraph</p> -->
	 <slot>Default Text</slot>
	</body>
</html>


